.order-icon {
  margin-right: 5px;
  margin-left: 5px;
}

.dropdown-menu {
  min-width: 11rem;
}
.dropdown-menu[data-bs-popper] {
  top: 100%;
  margin-top: 0.125rem;
  left: -79px;
}

.category-error {
  font-size: 16px;
  color: red;
  display: none;
}

.category-description-error {
  font-size: 16px;
  color: red;
  display: none;
}

.supplier-error {
  font-size: 16px;
  color: red;
  display: none;
}

.supplier-phone-error {
  font-size: 16px;
  color: red;
  display: none;
}

.supplier-email-error {
  font-size: 16px;
  color: red;
  display: none;
}

.error {
  font-weight: normal !important;
}

.product-error {
  font-size: 16px;
  color: red;
  display: none;
}

.product-buyprice-error {
  font-size: 16px;
  color: red;
  display: none;
}

.product-sellprice-error {
  font-size: 16px;
  color: red;
  display: none;
}

.product-clq-error {
  font-size: 16px;
  color: red;
  display: none;
}

.product-category-error {
  font-size: 16px;
  color: red;
  display: none;
}

.inventory-error {
  font-size: 16px;
  color: red;
  display: none;
}

.inventory-quantity-error {
  font-size: 16px;
  color: red;
  display: none;
}

.inventory-expiration-error {
  font-size: 16px;
  color: red;
  display: none;
}

.inventory-supplier-error {
  font-size: 16px;
  color: red;
  display: none;
}

.payment-error {
  font-size: 16px;
  color: red;
  display: none;
}

.change-error {
  font-size: 16px;
  color: red;
  display: none;
}

.chart-container {
  width: 1000px; /* Set the desired width of the chart container */
  height: 500px; /* Calculate the height based on the viewport height minus a fixed value (e.g., 100px for header) */
  margin-right: auto; /* Push the chart container to the right */
  margin-left: 0; /* Remove any left margin */
}

#salesChart {
  width: 100%; /* Make the canvas fill the entire chart container */
  height: 100%; /* Make the canvas fill the entire chart container */
  margin: 0; /* Remove any margin */
}




.receipt-input input[type=text] {
  background: none;
  margin-left: -10px;
  border: none;
  text-decoration: underline;
}

#productReceiptTable_length {
  display: none;
}


#productReceiptTable_paginate {
  display: none;
}

#productReceiptTable_filter {
  display: none;
}

#productReceiptTable_info {
  display: none;
}
