@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Bree+Serif&family=Nunito&family=Quicksand&family=Red+Hat+Text:wght@500&family=Roboto+Slab:wght@900&family=Tilt+Neon&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --main-color: #e2a130;
  --darker-main: #FF7A00;
  --bg-color: rgb(240, 184, 121);
  --head-font: 'Tilt Neon', cursive;
  --title-font: 'Red Hat Text', sans-serif;
  --title-font2: 'Quicksand', sans-serif;
  --logo-font: 'Bree Serif', serif;
  --logo-font2: 'Bevan', cursive;
  --logo-bg: #293c50dc;
  --logo-color: #fd8311;
  --main-font: "Roboto", sans-serif;
}

*{ 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:  linear-gradient(180deg, rgba(255, 205, 69, 0.493), var(--main-color));

}

.container {
  background: #fff;
  height: 600px;
  position: relative;
  background: rgba(255, 255, 255, .90);

}
.container:not(.card-left, .card-right) {
  border-radius: 7px;
  box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.25);
}

.card-left {
  position: relative;

}

h1.sign-up {
  color: #1f1f1f;
}

.card-left-footer {
  display: flex; 
  justify-content: center;
}

.btn-login {
  padding: 8px 35px;
  color: var(--darker-main);
  border: 2px solid var(--darker-main);
  transition: all .2s;
  background: rgba(255, 255, 255, .10);
}

.btn-login:hover {
  color: #fff;
  background: var(--darker-main);
}

.form-check-input[type=checkbox] {
  border-color: var(--darker-main);
}

.form-check-input[type=checkbox]:checked,.form-check-input[type=checkbox]:focus  {
  background-color: var(--darker-main);
  border: var(--darker-main);
}

input[type="text"], input[type="password"] {
  border: 2px solid rgb(128, 128, 128);
  transition: border 0.2s;
  background: rgba(255, 255, 255, 0.2);

}

input[type="text"]:focus, input[type="password"]:focus {
  box-shadow: none;
  border: 2px solid var(--darker-main);
}



div.card-right {
  position: relative;
  background: var(--logo-bg);
  border-radius: 0px 7px 7px 0px;
}

.right-top, .right-bottom {
  height: 50%;
}

label.form-label {
  font-size: 1.1rem;
  color: #1f1f1f;
}

label.form-check-label {
  color: #1f1f1f;
}

.card-left-header {
  margin-bottom: 70px;
}

div.title {
  background: var(--logo-color);
}

h2.title-h2 {
  color: #fff;
  font-family: var(--title-font2);
  letter-spacing: 10px;
}

h1.logo-bh {
  position: relative;
  color: var(--logo-color);
  font-family: var(--logo-font2);
  font-size: 9rem;
  letter-spacing: -5px;
  font-weight: 500;
}

.cross {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50;
  left: 50;
  transform: translate(-26px, 45px);
  animation: rotation 2s ease;
}

.move {
  animation: rotate 2s ease;
}


.p-title-date {
  color: var(--logo-color);
  font-size: 1.3rem;
  font-weight: 500;
}


@keyframes rotation {
  from {transform: translate(-26px, 45px) rotate(0deg);}
  to {transform: translate(-26px, 45px) rotate(360deg);} 
}

@keyframes rotate {
  from {transform: translate(-26px, 45px) rotate(0deg);}
  to {transform: translate(-26px, 45px) rotate(360deg);} 
}

.alert-danger {
  position: relative;
  animation: faded 7s forwards;
}

.login-error {
  position: absolute;
  top: 115px;
  left: 0;
}
@keyframes faded {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none;
  }
}

.forgot-pass {
  font-family: var(--main-font);
  font-weight: 500;
  color: #1f1f1f;
}

.forgot-pass:hover {
  color: #1f1f1f;
}




/* forgot password style */



div.forgot {
  position: relative;
}


.forgot-pass:hover::after {
  position: absolute;
  content:'';
  top: 26px;
  right: 0;
  height: 5px;
  width: 120px;
  background: var(--darker-main);
  animation: forgot 0.5s ease;
}



@keyframes forgot{
  from {width: 0px;}
  to {width: 120px;}
}






.wrapper {
  background: #fff;
  max-width: 500px;
  position: relative;
  background: rgba(255, 255, 255, .90);
  border-radius: 7px;
  box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.25);
}


.error {
  color: red;
}

.manual-error {
  display: none;
}

.get-code {
  position: relative;
}

.getcode-wrapper:hover::after {
  position: absolute;
  content:'';
  height: 5px;
  width: 65px;
  top: 23px;
  right: 0;
  background: var(--darker-main);
  animation: get 0.5s ease;

}


#btnGetCode {
  font-family: var(--main-font);
  background: none;
  color: #1f1f1f;
  font-weight: 500;
}

@keyframes get{
  from {width: 0px;}
  to {width: 65px;}
}

.return {
  position: absolute;

}

.a-return {
  font-size: 24px;
  color: var(--darker-main);
}

.a-return:hover {
  color: var(--darker-main);
  opacity: 0.8;
}

.btn-send {
  font-size: 14px;
}
